# Bloqueo total de carpetas pesadas
**/node_modules/**
**/venv/**
**/.venv/**
**/env/**
**/Env/**
**/Lib/**
**/Scripts/**
**/Include/**
**/__pycache__/**

# Bloqueo por extensión (Binarios de Windows que pesan mucho)
**/*.dll
**/*.lib
**/*.exe
**/*.pdb
**/*.node
**/*.obj

# Datos y Multimedia
**/uploads/**
**/images/**
**/storage/**
**/backups/**
**/*.zip
**/*.rar
**/*.7z
**/*.mp4
**/*.mov

# Archivos SIG / Pesados
**/*.shp
**/*.dbf
**/*.shx
**/*.prj
**/*.kml
**/*.tif
**/*.tiff
**/*.xlsx
**/*.csv

.git/
