# Ignorar directorios de módulos de Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm-store/

# Ignorar archivos de configuración local y de entorno
#.env
#.env.*
.vscode/
.DS_Store
*.log

# Ignorar directorios de control de versiones
.git/
.gitignore

# Ignorar archivos de compilación o temporales
build/
dist/
tmp/
temp/

# Ignorar archivos de prueba o documentación si no son necesarios en la imagen final
test/
tests/
docs/
*.md
*.txt

# Ignorar archivos de caché de Fly.io
.fly/